body {

    background-color: grey;
}

h1 {
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    font-style: italic;
}

.container {
    overflow: hidden;
    margin-top: 18px;
    /* padding: 15px; */
    /* border: 2px solid red; */
}

.container button{
    margin: 15px 0 0 15px;
    height: 35px;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: darkgrey;
}

button.active {
    background-color: darkgray;
}

.content {
    display: none;
    margin: 15px;
    padding: 18px 16px;
    /* border: 2px solid red; */
    border-top: none;
}

.content {
    padding-left: 20px;
}